  <div class="user-index-title">
    <h1 class="title-text">Follow Users</h1>
  </div>
  <div class="user-index-item">
    <div class="box">
      <% if @users.exists? %>
        <%= render 'users/list', users: @users %>
      <% else %>
        <p>ユーザーはいません</p>
      <% end %>
    </div>

    <%= paginate(@users) %>
  </div>
