<div class="container blog list_memo py-5  border-left border-right border-dark">
  <div class="row">
    <%= render 'layouts/search' %>
  </div>
  <div class="row">
    <div class="col offset-1 mb-2">
      <h1>Users</h1>
    </div>
  </div>
  <%= render 'users/list', users: @users %>
</div>