  <div class="user-index-title">
    <h1 class="title-text">Users</h1>
  </div>
  <div class="user-index-item">
    <div class="box">
      <%= render 'users/list', users: @users %>
    </div>

    <%= paginate(@users) %>
  </div>