<div class="haikei2">
<div class="container blog list_haba py-5  border-left border-right border-dark">
  <div class="row">
    <div class="col">
      <%= render 'layouts/search' %>
    </div>
  </div>
  <div class="row">
    <div class="col offset-1 mb-2">
      <h1>Users</h1>
    </div>
  </div>
  <%= render 'users/list', users: @users %>
</div>
</div>