<div class="box">
  <div class="bgimg an-1"></div>
  <div class="bgimg an-2"></div>
  <div class="bgimg an-3"></div>
  <div class="bgimg an-4"></div>
  <div class="abouttext">
    <h1 class="about-h">旅先での記憶を記録として残す</h1>
    <h4 class="about-h">まだ知らない新たな世界に飛び出して</h4>
    <h4 class="about-h">ふと何気なくとった写真が、心を動かし</h4>
    <h4 class="about-h">また誰かの旅立ちや出会いの始まりとなるように</h4>
  </div>
</div>