<div class="box1">
  <topmain id="topmain">
    <%= image_tag('Logotv.png', :size => '800x300', class: "title-logo") %>
      <%= video_tag("/assets/videos/People Waiting.mov", autoplay: :true, loop: :true, muted: true, style: "width:100%;") %>
  </topmain>
</div>
<div class="box2">
  
</div>
