<div class="box">
  <header class="border border-dark">
    <%= render 'layouts/header' %>
  </header>
  <topmain id="topmain">
    <%= image_tag('Logotv.png', :size => '800x300', class: "title-logo") %>
      <%= video_tag("/assets/videos/People Waiting.mp4", autoplay: :true, loop: :true, muted: true, style: "width:100%;") %>
  </topmain>
</div>
