<div class="yohaku"></div>
<% if @blog.exists? %>
<h1 class="title-text">Memories</h1>
<div class="box">
  <ul class="gallery">
    <% @blog.each do |blog| %>
    <li>
      <div class="box-item">
        <%= link_to blog_path(blog) do %>
        <%= attachment_image_tag blog, :image %>
        <% end %>
      </div>
    </li>
    <% end %>
  </ul>
</div>
<% else %>
<h1 class="title-text">Memories</h1>
<div class="box">
  <div class="mt-5 d-flex justify-content-center">
    <h3>記録はありません</h3>
  </div>
</div>
<% end %>