/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  width: 100%;
  // position: fixed;
  background-color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}


// footer{
//   width: 100%;
//   background-color: #fff;
//   bottom: 0;
//   position: -webkit-sticky;
//   position: sticky;
// }

.main{
  padding-bottom: 0;
  z-index: 5;
}

.navmenu {
  font-size: 22px;
}

.nav{
  margin-top: 30px;
}

.haikei {
  background-image: image-url(unsplash.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.haikei2{
  background-image: image-url(918521.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.denger-page{
  height: 630px;
}

.haikei3{
  background-image: image-url(denger.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.haba {
  width: 700px;
}

.blog-box {
  width: 650px;
  margin: 0 auto;
  color: #666;
  border-top: solid 6px #ffddbb;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 1);
}

.blog-box-comfilm {
  width: 650px;
  margin: 0 auto;
  text-align: center;
  color: #666;
  border-top: solid 6px #ffddbb;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 1);
}

.comfilm-box {
  padding: 0.5em 1em;
  width: 250px;
  margin: 0 auto;
  text-align: center;
  background: -webkit-repeating-linear-gradient(-45deg, #000000, #000000 9px,#FFFF00 9px, #FFFF00 18px);
  background: repeating-linear-gradient(-45deg, #000000, #000000 9px,#FFFF00 9px, #FFFF00 18px);
}

.text-comfilm{
  color: #ff0000;
  text-shadow:  0 3px 4px rgba(0, 0, 0, 1);
}

.comfilm-text{
  color: #000;
  text-shadow:  0 3px 4px rgba(255, 0, 0, 1);

}

.user-box {
  width: 750px;
  margin: 0 auto;
  color: #666;
  border-top: solid 6px #ffddbb;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 1);
}

.blog-box-item{
  width: 530px;
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #5d627b;
  background: white;
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 1);
}

.user-box-item{
  width: 600px;
  padding: 0.5em 1em;
  margin: 2em auto;
  color: #5d627b;
  background: white;
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 1);
}

.rank-time-box{
  width: 350px;
  padding: 0.5em 1em;
  margin: 1em auto;
  color: #5d627b;
  background: white;
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 1);
}

.rank-box{
  width: 450px;
  padding: 0.5em 1em;
  margin: 1em auto;
  color: #5d627b;
  background: white;
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 1);
  text-align: center;
}

.rank-img{
  width: 380px;
  margin: 0 auto;
}


.blog{
  text-align: center;
}


.blog-box-img{
  width: 500px;
  margin: 0 auto;
}

.form-memory {
  width: 500px;
  text-align: center;
  margin: 2em auto;
  color: #666;
  border-top: solid 6px #ffddbb;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
}

.form-user {
  width: 400px;
  text-align: center;
  margin: 2em auto;
  color: #666;
  border-top: solid 6px #ffddbb;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
}

.form-sign {
  width: 300px;
  text-align: center;
  margin: 2em auto;
  color: #666;
  border-top: solid 6px #ffddbb;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
}

.blog-index{
  display: flex;
  flex-direction: row;
}

.takasa {
  height:  44vw;
}

.list_haba {
  width: 900px;
}
.box .abouttext{
  position: absolute;
  color: white;/*文字は白に*/
  display: inline-block;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 3px 3px 3px #000;
  text-align: center;
}
.midasi {
  // border-bottom: double 5px #FFC778;
  position: relative;
  padding: 0.1em 1em;
  background: #FFC778;
  color: white;
}

.midasi::before {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  border: none;
  border-bottom: solid 15px transparent;
  border-right: solid 20px rgb(149, 158, 155);
}

.button-n {
  display: inline-block;
  padding: 0.2em 1em;
  text-decoration: none;
  border-radius: 4px;
  color: #000;
  background-image: linear-gradient(#aaaaaa 0%, #eeeeee 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #000;
}

.button-n:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

.button-d {
  display: inline-block;
  padding: 0.2em 2em;
  text-decoration: none;
  border-radius: 4px;
  color: #ffffff;
  background-image: linear-gradient(#fff9ff 0%, #ff1100 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #770000;
}

.button-d:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

.button-p {
  display: inline-block;
  padding: 0.2em 2em;
  text-decoration: none;
  border-radius: 4px;
  color: #ffffff;
  background-image: linear-gradient(#6795fd 0%, #67ceff 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #5e7fca;
}

.button-p:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

.button-s {
  display: inline-block;
  padding: 0.2em 2em;
  text-decoration: none;
  border-radius: 4px;
  color: #ffffff;
  background-image: linear-gradient(45deg, #00FF00 0%, #008800 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #004400;
}

.button-s:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

.button-like {
  display: inline-block;
  padding: 0.1em 1em;
  text-decoration: none;
  border-radius: 4px;
  color: #ffffff;
  background-image: linear-gradient(45deg, #FFDDFF 0%, #FF22FF 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #CC0099;
}

.button-like:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

.button-unlike {
  display: inline-block;
  padding: 0.1em 1em;
  text-decoration: none;
  border-radius: 4px;
  color: #ffffff;
  background-image: linear-gradient(45deg, #EEEEEE 0%, #222222 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #000000;
}

.button-unlike:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

h1, h2, h3, h4, h5, h6, p, li{
  font-family: 'Lobster', cursive;
}

.search_form{
  text-align: center;
  margin: 0 auto;
}

.blog-form{
  padding: 0.5em 1em;
  margin: 0.8em 0;
  color: #5d627b;
  background: white;
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 1);
}

.country-form{
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #5d627b;
  background: white;
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 1);
}

.table{
  width: 550px;
  margin: 0 auto;
}

.btn-brackets {
  display: inline-block;
  position: relative;
  padding: 0.1em 1em;
  text-decoration: none;
  color: #000;
  transition: .4s;
}
.btn-brackets:hover {
  color:#ff7f7f;
}
.btn-brackets:before, .btn-brackets:after {
  position: absolute;
  top: 0;
  content:'';
  width: 8px;
  height: 100%;
  display: inline-block;
}
.btn-brackets:before {
  border-left: solid 1px #ff7f7f;
  border-top: solid 1px #ff7f7f;
  border-bottom: solid 1px #ff7f7f;
  left: 0;
}
.btn-brackets:after {
  content: '';
  border-top: solid 1px #ff7f7f;
  border-right: solid 1px #ff7f7f;
  border-bottom: solid 1px #ff7f7f;
  right: 0;
}

.ribbon {
  display: inline-block;
  position: relative;
  height: 45px;
  text-align: center;
  box-sizing: border-box;
  -webkit-transform: rotate(-10deg) skew(-17deg,4deg);
  transform: rotate(-10deg) skew(-17deg,4deg);
}
.ribbon:before {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  background: #eb9920;
  bottom: -7px;
  left: -15px;
  z-index: -2;
}

.ribbon:after {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  background: #eb9920;
  bottom: -10px;
  right: -25px;
  z-index: -2;
}

.ribbon h3 {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0 20px;
  line-height: 45px;
  font-size: 18px;
  color: white;
  background: #f8aa37;
}
.ribbon h3:before {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  border: none;
  border-bottom: solid 7px transparent;
  border-right: solid 25px #c6821e;
}
.ribbon h3:after {
  position: absolute;
  content: '';
  top: 100%;
  right: 0;
  border: none;
  border-bottom: solid 10px transparent;
  border-left: solid 15px #c6821e;
}