// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.blog-box{
  display: flex;
  flex-wrap: wrap;
}

.box-item{
  margin: 12px;
}

.Photo{
  margin: 1em 0.9em;
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: 0 0;
  padding-bottom: 5px;
}

.box {
  position   : relative;
  width  : 100%;
  height     : 700px;
}

.box .bgimg {
  position   : absolute;
  width  : 100%;
  height     : 700px;
  top        : 0;
  left       : 0;
  bottom     : 0;
  right      : 0;
  opacity    : 0;
  background-size: cover;
  animation  : bgAnime 20s infinite;   /* 4画像 × 各5s = 20s */
}

.box .tn-1 {
  background-image : image-url("tianshu.jpg");   /* 背景の画像を指定 */
  animation-delay  : 0s;
  background-position: center;
  background-size: cover;
}
.box .tn-2 {
  background-image : image-url("busan-night.jpg");   /* 背景の画像を指定 */
  animation-delay  : 5s;
  background-position: center;
  background-size: cover;
}
.box .tn-3 {
  background-image : image-url("street-america.jpg");   /* 背景の画像を指定 */
  animation-delay  : 10s;
  background-position: center;
  background-size: cover;
}
.box .tn-4 {
  background-image : image-url("keswan.jpg");   /* 背景の画像を指定 */
  animation-delay  : 15s;
  background-position: center;
  background-size: cover;
}

.box .an-1 {
  background-image : image-url("hongkong.jpg");   /* 背景の画像を指定 */
  animation-delay  : 0s;
  background-position: center;
  background-size: cover;
}
.box .an-2 {
  background-image : image-url("landscape.jpg");   /* 背景の画像を指定 */
  animation-delay  : 5s;
  background-position: center;
  background-size: cover;
}
.box .an-3 {
  background-image : image-url("sydney.jpg");   /* 背景の画像を指定 */
  animation-delay  : 10s;
  background-position: center;
  background-size: cover;
}
.box .an-4 {
  background-image : image-url("harry.jpg");   /* 背景の画像を指定 */
  animation-delay  : 15s;
  background-position: center;
  background-size: cover;
}

@keyframes bgAnime {
   0% { opacity: 0; }
   5% { opacity: 1; }
  25% { opacity: 1; }
  30% { opacity: 0; }
 100% { opacity: 0; }
}

#map{
  width: 470px;
  height: 400px;
}

.comment-box{
  width: 530px;
}

.memories-box{
  width: 500px;
  padding: 0.5em 1em;
  margin: 2em auto;
  color: #5d627b;
  background: white;
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 1);
}
.create-memory-box{
  width: 500px;
  padding: 0.5em 1em;
  margin: 2em auto;
  color: #5d627b;
  background: white;
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 1);
  text-align: center;
}

.pagenation{
  padding-bottom: 50px;
}

.label {
  background-color: #ffddbb;
  font-weight: 500;
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}