<div class="container my-3">
  <div class="row mb-2">
    <div class="col d-flex justify-content-center">
      <strong>@Travel_Memories</strong>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="mx-2">
      <i class="fab fa-twitter-square"></i>
    </div>
    <div class="mx-2">
      <i class="fab fa-instagram-square"></i>
    </div>
    <div class="mx-2">
      <i class="fab fa-facebook-square"></i>
    </div>
  </div>
</div>